#header canvas {
  height: 794px !important;
  background-color: rgba(0, 0, 0);
}
#header {
  height: 794px;
  text-align: center;
}
#Head-text {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  margin: 20px;
  margin-top: 10%;
}
#head-para {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
}

.button {
  margin: 5px !important;
  padding: 15px 30px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #ffffff;
}
#about {
  background-color: #000524;
  color: #ccc;
  line-height: 30px;
  padding: 60px 6px;
}
.about-content {
  font-size: 18px;
}

.about-image {
  width: 70%;
  height: 90%;
  display: none;
}

@media only screen and (min-width: 600px) {
  .about-image {
    display: block;
  }
}
.sections {
  /* background-color: #ccc; */
  color: #000524;
  padding: 30px 10px;
}

.title {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: blue;
}

.list {
  line-height: 30px;
  font-size: 18px;
}
.sub-title {
  text-transform: uppercase;
  font-size: 18px;
}
.name {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 3%;
}
#date {
  margin-left: 40px;
}

.divide {
  margin: 10px 3%;
}
.react-sweet-progress-line-inner {
  min-height: 20px !important;
  border-radius: 0px !important;
}
.react-sweet-progress-line {
  margin: 20px !important;
  border-radius: 0px !important;
}
.react-sweet-progress {
  width: 80% !important;
}
.react-sweet-progress-symbol {
  font-weight: 500 !important;
}
#footer {
  background-color: #000524;
  margin-top: 8%;
  text-align: center;
  padding: 5%;
  color: #ccc !important;
}
#foot-head {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
#foot-sub-head {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.2;
}
.icon {
  font-size: 20px;
  margin: 3%;
}
.MuiSvgIcon-root {
  width: 2.2em !important;
  height: 1.5em !important;
}
